$bg-color: #171717df;
$bg-color2: #25252556;
$bg-color-w: #ffffff;
$second-bg-color: #add8e6;
$third-bg-color: #ffc0cb;

$main-color: #bb14bb;
$blue-color: #3a88f6;

$text-color: #ffffff;
$text-color-b: #000000;